<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <a href="/">go back</a>
    <div class="app-container">
      <div class="header-container">
        <h1 class="app-title">File Uploader</h1>
        <div class="header-buttons">
          <a href="/log-out" class="button">Log Out</a>
        </div>
      </div>
      <div class="main-container">
        <h1>Welocme to folders</h1>
        <a href="/drive">My drive</a> ...>...

        <a href=""><%= currFolder.name %></a>
        <br />
        <br />

        <br />
        <br />
        <button id="createFolderBtn">Create folder</button>
        <div id="folderModal" class="modal">
          <h2>Add folder</h2>
          <form action="/drive/folder/<%=currFolder.id %>" method="post">
            <label for="folderName">Folder name</label>
            <input
              type="text"
              id="folderName"
              name="folderName"
              minlength="1"
              maxlength="15"
              required
            />
            <button type="submit">Create</button>
          </form>
        </div>
        <button>Upload file</button>
        <br /><br />
        <% if(childFolders && childFolders.length > 0) { %>
        <h2>Here are your sub-folders</h2>
        <% childFolders.forEach((folder) => { %> id: <%=folder.id %>
        <h5>
          <%= folder.name %> -----------------------
          <a href="/drive/folder/<%=folder.id %>">open</a>---------------<button
            class="renameBtn"
          >
            rename
          </button>
          <div class="updateFolderModal">
            <h2>Change folder name</h2>
            <form action="/renameFolder/<%=folder.id %>" method="get">
              <label for="folderName">New Folder name</label>
              <input
                type="text"
                id="folderName"
                name="folderName"
                minlength="1"
                maxlength="15"
                required
              />
              <button type="submit">Submit</button>
            </form>
            <button class="closeBtn">close</button>
          </div>
          ----------------------
          <a href="/deleteFolderInFolder/<%=currFolder.id %>/<%=folder.id %>"
            >Delete</a
          >
        </h5>
        <% }) } else { %>
        <h3>No files in folder</h3>
        <%} %>
      </div>
    </div>
    <script>
      // Get the modal
      const addFolderModal = document.getElementById("folderModal");
      const closeBtn = document.getElementsByClassName("closeBtn");
      const updateFolderModal = document.querySelectorAll(".updateFolderModal");
      const renameBtn = document.getElementsByClassName("renameBtn");
      // Get the button that opens the modal
      const btnAddFolder = document.getElementById("createFolderBtn");

      for (let i = 0; i < renameBtn.length; i++) {
        renameBtn[i].onclick = function () {
          setTimeout(() => {
            updateFolderModal[i].style.display = "block";
          }, 0);
        };
      }

      for (let i = 0; i < closeBtn.length; i++) {
        closeBtn[i].onclick = function () {
          console.log("usaaa");

          setTimeout(() => {
            updateFolderModal[i].style.display = "none";
          }, 0);
        };
      }

      btnAddFolder.onclick = function () {
        console.log(addFolderModal);

        addFolderModal.style.display = "block";
      };

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (
          event.target == addFolderModal ||
          event.target == updateFolderModal
        ) {
          addFolderModal.style.display = "none";
        }
      };
    </script>
  </body>
</html>
